<div class="row">
    <div class = "col-sm-6 col-sm-4 col-md-offset-4 col-sm-offset-3   "> 
        <h1>Checkout</h1>
        <h4> Totle Prices <strong>: ${{totalPrice}} </strong></h4>

        <div id="payment-errors" class="alert alert-danger">
            <h1>error!!!!!!!!</h1>
        </div>
    </div>
    <form method="post" action= "/checkout" id="checkout-form">
        <div class = "col-sm-6 col-sm-4 col-md-offset-4 col-sm-offset-3   "> 
            <div class="form-row" >
                <label for="inputEmail">Full Name</label>
                <input type="text" class="form-control" id="card-name" placeholder="Last Name / First Name" required name ="name">
            </div>     
        </div>
        <div class="form-group">
            <div class = "col-sm-6 col-sm-4 col-md-offset-4 col-sm-offset-3   "> 
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required name="address">
            </div>
        </div>
       
        <div class="form-group">
            <div class = "col-sm-2 col-sm-4 col-md-offset-4 col-sm-offset-3   "> 
                <label for="inputZip">Zip Code</label>
                <input type="text" class="form-control" id="zip-code" placeholder="*****"  required>
            </div>
        </div>

        <div class="form-group">
            <div class = "col-sm-6 col-sm-4 col-md-offset-4 col-sm-offset-3   "> 
                <label for="inputCardNumber">Card Number</label>
                <input type="text" class="form-control" id="card-number" placeholder="----/----/----"  required>
            </div>
        </div>
        
             <div class = "col-sm-6 col-sm-4 col-md-offset-4 col-sm-offset-3   "> 
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="exp_month">Expiration Month</label>
                                <input type="text" id="exp_month" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="exp_year">Expiration Year</label>
                                <input type="text" id="exp_year" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
            
        <div class="form-group">
            <div class = "col-sm-6 col-sm-4 col-md-offset-4 col-sm-offset-3   "> 
                <label for="inputCvc">CVC</label>
                <input type="text" class="form-control" id="card-cvc" placeholder="***"  required>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
            </div>
        </div>
        <div class="form-group row" >
            <div class = "col-sm-6 col-sm-2 col-md-offset-7 col-sm-offset-3   "> 
            <div class="col-sm-10">
                <hr>
            <button type="submit" class="btn btn-primary">Palce Order</button>
            </div>
            </div>      
        </div>
    </form>

</div>
 
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>

